<div class="page-header">
  <h1>OpportunityMetric#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= opportunityMetricsPath() %>" class="btn btn-info">Back to all OpportunityMetrics</a></li>
  <li class="list-inline-item"><a href="<%= editOpportunityMetricPath({ opportunity_metric_id: opportunityMetric.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= opportunityMetricPath({ opportunity_metric_id: opportunityMetric.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

